<h1>Funçoes</h1>
<hr>
	<%= link_to "Novo", new_function_path %>

<table>
	<thread>
	<tr>
		<th>Nome</th>
		<th>Açoes</th>
	</tr>
	</thread>
	<tbody>
	<% @functions.each do |function| %>
		<tr>
			<td><%= function.name %></td>
			<td>
				<%= link_to 'Editar', edit_function_path(function.id) %>
				<%= link_to 'Exibir', show_function_path(function.id)   %>
				<%= link_to 'Excluir', destroy_function_path(function.id)   %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>