
<p>
	<h2> Nome: </h2>
	<%= @project.name %>
</p>
<p>
	<h2> Data de Início: </h2>
	<%= @project.start_date %>
</p>
<p>
	<h2> Date de Término:</h2> 
	<%= @project.end_date %>
</p>
<p>
	<h2> Tamanho total: </h2>
	<%= @project.size %>
</p>


<%= link_to 'Voltar', projects_path%> 