<p>
	<strong>Nome:</strong>
	<%= @local.name %>
	<%= @local.name %>
	<%= @local.country %>
	<%= @local.state %>
	<%= @local.city %>
	<%= @local.zipcode %>

</p>

<hr>
<%= link_to 'Voltar', places_path %>
